# ==========================
# Ignorar arquivos do Windows
# ==========================
Thumbs.db
Desktop.ini
*.lnk

# ==========================
# Pastas de sistema
# ==========================
AppData/
OneDrive/
iCloudDrive/

# ==========================
# VSCode
# ==========================
.vscode/

# ==========================
# Compilação C++ (executáveis e objetos)
# ==========================
*.exe
*.out
*.obj
*.o

# Executáveis gerados sem extensão (Linux)
aula
main

# ==========================
# Python (caso use no mesmo projeto)
# ==========================
__pycache__/
*.pyc